.article {
    display: flex;
    margin: 0 1rem 2rem 0;
    padding: 0 1rem 0 0;
    border: 2px solid #afafaf;
    border-radius: 1rem;
    height: 150px;
    overflow: hidden;

    &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    }

    .image {
        width: 50%;
        position: relative;
    }

    .details {
        padding-left: 1rem;

        .title {
            font-size: 1.5rem;
        }

        .date {
            color: #969696;
        }
    }
}
