.article {
    display: flex;
    margin: 0 1rem 2rem 1rem;
    padding: 0 5rem 0 0;
    //border: 2px solid #e6e6e6;
    background-color: #fafafa;
    border-radius: 1rem;

    &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    }

    .details {
        padding-left: 1rem;

        .title {
            font-size: 2rem;
        }

        .date {
            //color: blue;
        }
    }

    .image {
        border-radius: 1rem 0 0 1rem;
    }
}
