.overflow {
    overflow-y: auto;
    max-height: 100%;
}

.pageContainer {
    display: flex;
    justify-content: center;
}

.container {
    padding: 2rem 0;
    width: 95vw;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.details {
    margin-bottom: 2rem;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.picture {
    display: flex;
    min-height: 30vh;
    position: relative;
    flex-basis: 100%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

@media (min-width: 640px) {
    .picture {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .picture {
        flex-basis: 48%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 90vw;
    }

    .picture {
        flex-basis: 30%;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 60vw;
    }

    .picture {
        flex-basis: 30%;
    }
}
