.container {
    border-bottom: 1px solid lightgray;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    width: 100vw;
}

.logo {
    padding: 1rem 0;
    display: inline-block;
}
