.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  position: absolute;
  overflow-y: auto;
  width: 100%;
}

.grid {
  margin: 3rem 3rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > a {
    width: 100%;
    margin-right: 1%;
    flex-basis: 30%;
  }
}

@media (max-width: 1000px) {
  .grid {
    margin: 2rem 2rem 0 2rem;

    > a {
      flex-basis: 48%;
    }
  }
}

@media (max-width: 768px) {
  .grid {
    margin: 1rem 1rem 0 1rem;
    flex-direction: column;

    > a {
      flex-basis: 100%;
    }
  }
}
